<div class="home-content">
    <div>
        <form (ngSubmit)="submitState(destination, date)" autocomplete="off">
            <div class="container search">
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="destination" placeholder="WHERE DO YOU WANT TO GO?" [ngbTypeahead]="search" name="destination" autofocus>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input class="form-control" placeholder="WHEN?" name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" (focus)="d.toggle()" (blur)="d.toggle()">
                            <div class="input-group-addon">
                                <button class="btn btn-primary btn-tt">GO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>