<div class="container about">
    <h1>Destinations</h1>
    <div class="about-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur turpis lacinia pharetra porttitor. Etiam imperdiet nibh metus, non viverra augue faucibus ut. Nunc rhoncus eleifend semper. Suspendisse vitae lectus nisl. Morbi purus ligula,
            vehicula quis nunc a, tempus sodales neque. Maecenas ac quam in ipsum porttitor eleifend. Duis malesuada aliquet tortor, non luctus ex pretium id. Curabitur maximus, metus pharetra consectetur accumsan, augue metus lacinia nisl, vel porta
            justo urna eu ex. Curabitur velit ipsum, ultrices fringilla lacus non, ultrices volutpat enim. Vestibulum tempor hendrerit mi quis sollicitudin. Proin malesuada tortor ac velit volutpat, nec convallis nunc tincidunt. Fusce rutrum ante id ex
            commodo fermentum. Phasellus ultrices augue erat, eu rutrum leo hendrerit a. Nullam vehicula ex eget erat tristique, at sagittis urna scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Maecenas cursus, urna et imperdiet pellentesque, justo lectus mattis nisi, nec ullamcorper felis nibh in orci. Nam venenatis enim nec urna commodo, id pharetra lacus fringilla. Ut quis quam aliquet, commodo nulla ac, feugiat neque. Donec dolor
            mi, vestibulum sed massa at, ullamcorper suscipit neque. Etiam at dapibus lacus, a malesuada urna. Sed sem diam, dictum nec congue luctus, placerat id justo. Etiam sed lorem tortor. Suspendisse a nulla eget felis iaculis suscipit. Suspendisse
            potenti.
        </p>
    </div>
</div>